@font-face {
    font-family: "SegoeUI";
    src: url("../font/SegoeUI.ttf");
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../font/SegoeUILight.ttf");
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "SegoeUI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
    justify-content: center;
    margin: 2vw 0 2vw 0;
}

#header .logo, #header .item {
    display: flex;
}

#header .logo img {
    height: 5vw;
    margin: auto 0 auto 2vw;
}

#header .item img {
    height: 2vw;
    margin: auto 0 auto 0;
}

#header .item p {
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin: auto 0 auto 10%;
    text-align: left;
    font-size: 1vw;
}

#navigation_bar {
    background-color: #009999;
    justify-content: center;
    width: 100%;
    height: 3vw;
    display: flex;
}

.navigation_bar_fixed {
    background-color: #008080 !important;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0 2px 2px -2px gray;
    opacity: 0.95;
}

#navigation_bar a {
    margin: auto 0 auto 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3vw;
    text-align: center;
}

#navigation_bar a:hover {
    color: #004747;
    font-weight: 500;
    border-right: 1px solid rgba(12, 84, 96, 0.3);
    border-left: 1px solid rgba(12, 84, 96, 0.3);
}

#about {
    height: 48vw;
    max-width: 100%;
    background: url("../img/main-min.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.main-block-border {
    position: absolute;
    width: 90%;
    margin: 5%;
    border: 3vw double rgba(255, 255, 255, 0.75);
}

.main-offer {
    padding: 2%;
    text-align: center;
    position: relative;
    color: #002024;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-offer-title {
    font-family: "Segoe UI", "SegoeUI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 2.7vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.main-offer-description {
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 2%;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    color: black;
    display: flex;
}

.main-offer-description .glyphicon {
    font-size: 2.5vw !important;
}

.main-offer-description p {
    padding: 0 0 0 1vw;
    margin: 0;
}

.text-selector {
    color: #02353e;
    font-weight: 700;
}

#main_goal {
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    padding-top: 5%;
    color: #002024;
    padding-left: 3%;
    display: inline-flex;
}

.main-goal-description {
    padding: 0 0 0 3%;
    border-radius: 0 0 0 0 / 0 0 0 0;
    position: relative;
    box-shadow: 5px 5px rgba(0, 0, 0, .15);
    transition: all .5s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: auto;
    font-weight: bold;
    background-color: white;
}

.main-goal-description:hover {
    border-radius: 0 0 50% 50% / 0 0 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

.main-goal-description .text-selector {
    color: #ffffff;
    background-color: rgba(21, 145, 146, 0.7);
}

.main-goal-description h2 {
    padding-top: 4%;
    margin: 0;
    font-weight: 700;
    font-size: 1.7vw;
    line-height: 1.5;
}

.main-goal-description p {
    padding: 5% 3% 3% 0;
    font-size: 1.5vw;
    font-style: italic;
}

.main-goal-description div {
    padding: 1%;
    font-size: 1.1vw;
    color: #5a6268;
    text-align: right;
}

.main-goal-video {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 0.3vw solid #018f8f;
    background-color: white;
}

.title {
    font-family: "Segoe UI", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin-top: 12%;
    font-size: 2.7vw;
    text-transform: uppercase;
}

.line {
    border-bottom: 0.2vw solid #000000;
    margin: 0 35% 2% 35%;
}

.services-description, .project-description {
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    padding: 2%;
    margin: 0 2% 2% 2%;
    font-size: 1.5vw;
    text-align: center;
    background-color: rgba(23, 162, 184, 0.2);
    border-radius: 2vw;
}

.services-description p {
    margin-bottom: 0 !important;
}

#carousel-services {
    padding-top: 2%;
    width: 80%;
    margin: auto;
}

.carousel-caption {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: rgba(0, 106, 106, 0.15);
    border-top: 1px solid #018f8f;
    border-bottom: 1px solid #018f8f;
}

.carousel-caption h3 {
    font-size: 2vw;
    text-transform: uppercase;
    color: #0c5460;
    font-weight: bold;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.carousel-control-prev {
    width: 0 !important;
    margin-left: -5%;
}

.carousel-control-next {
    width: 0 !important;
    margin-right: -3%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    font-size: 3vw;
    margin: 0 !important;
    padding: 0 !important;
    color: #000000;
}

.feedback {
    margin: 5% 3%;
    padding: 3%;
    border: 1px solid rgba(90, 98, 104, 0.4);
    border-radius: 20px;
}

.img-feedback {
    height: 25vw;
    margin: auto;
    padding: 0;
}

.builder-feedback {
    background: url("../img/builder_feedback.png") no-repeat;
    background-size: contain;
}

.planner-feedback {
    background: url("../img/planner_feedback.png") no-repeat;
    background-size: contain;
}

.feedback-title {
    text-align: left;
    font-size: 2.2vw;
    line-height: 2.2vw;
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    border-bottom: 0.1vw solid #000000;
}

.feedback-form {
    margin-top: 2%;
    padding-left: 2%;
}

.feedback-button {
    width: 100%;
    background-color: #01a1a1;
    color: white;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 5%;
    border: none;
}

.feedback-button:hover {
    cursor: pointer;
}

.project-description .addition {
    color: #5a6268;
    font-size: 1.3vw;
}

.project-items {
    padding-top: 3%;
    text-align: center;
}

.project-items .col {
    padding: 1%;
    margin: 1%;
}

.project-items .col:hover {
    cursor: pointer !important;
    font-weight: bold;
}

.project-items img {
    width: 70%;
}

.img_wrap {
    position: relative;
}

.img_description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description_layer {
    visibility: visible;
    opacity: 1;
}

.img_description {
    font-size: 5vw !important;
    transition: .2s;
    transform: translateY(1em);
}

.img_wrap:hover .img_description {
    transform: translateY(0);
}

.project-items p {
    padding-top: 5%;
    font-size: 1.6vw;
    text-transform: uppercase;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.modal-lg {
    max-width: 80% !important;
}

.modal-title {
    color: #0c5460;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.modal-button {
    background-color: #0c5460;
    color: white;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5vw;
    border: none;
}

.pdfobject-container {
    height: 30rem;
    border: 1rem solid rgba(0, 0, 0, .1);
}

.advantages-items {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.advantages-items img {
    width: 35%;
}

.advantages-items p {
    padding: 5%;
    font-size: 1.6vw;
    font-weight: bold;
}

.advantages-addition {
    background-color: rgba(23, 162, 184, 0.2);
}

.advantages-addition-text {
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    height: 80%;
    padding: 2%;
    color: #062931;
}

.advantages-addition-text div {
    font-size: 1.8vw;
    font-weight: bold;
    padding-bottom: 2%;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
}

.advantages-addition-text p {
    font-size: 1.5vw;
    font-weight: bold;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.plan-description {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
}

.plan-description h3 {
    padding: 3% 5% 3% 5%;
    font-size: 2.2vw;
}

.plan {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.plan img {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%;
    background-color: white;
}

.plan p {
    text-align: center;
    font-size: 1vw;
}

.sip-technology-description {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

.sip-technology-description img {
    width: 100%;
    margin-left: -5vw;
}

.sip-technology-description .text {
    font-size: 1.5vw;
    margin-top: 3%;
    margin-left: -2vw;
}

.sip-technology-description .addition {
    background-color: rgba(23, 162, 184, 0.2);
    border-radius: 2vw;
    margin-top: 3%;
    padding: 3%;
    font-size: 1.2vw;
}

.sip-technology-items .nav a {
    font-size: 1.5vw;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #0c5460;
    font-weight: 600;
    border-bottom: 1px solid rgba(12, 84, 96, 0.1);
    border-radius: 10px;
}

.sip-technology-items .nav .active {
    background-color: rgba(12, 84, 100, 0.9);
}

.sip-technology-items .nav span {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 5px;
    margin-right: 5px;
}

.sip-technology-items-description .tab-pane {
    padding-top: 3%;
    padding-right: 3%;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: justify;
}

.sip-technology-items-description .tab-pane p {
    text-indent: 3%;
}

.sip-technology-items-description .tab-pane li {
    font-size: 1.2vw;
}

.sip-technology-items-description .circle-text {
    box-shadow: 0 0 10px 3px rgba(12, 84, 100, 0.3);
    background-color: rgba(94, 204, 204, 0.3);
    border-radius: 10px;
    padding: 2%;
    margin: 3%;
}

.myths {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 2vw;
    font-weight: 600;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.myths-text {
    font-size: 1.5vw;
    padding: 3%;
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgba(94, 204, 204, 0.3);
    border-radius: 10px;
}

.myths-video {
    margin: 3%;
}
