@font-face {
    font-family: "SegoeUI";
    src: url("../font/SegoeUI.ttf");
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../font/SegoeUILight.ttf");
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "SegoeUI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
}

.header {
    justify-content: center;
    margin: 2vw 0 2vw 0;
}

.header .logo, .header .item{
    display: flex;
}

.header .logo img {
    height: 5vw;
    margin: auto 0 auto 2vw;
}

.header .item img {
    height: 2vw;
    margin: auto 0 auto 0;
}

.header .item p {
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin: auto 0 auto 10%;
    text-align: left;
    font-size: 1vw;
}

.navigation_bar {
    background-color: #009999;
    justify-content: center;
    width: 100%;
    height: 3vw;
    display: flex;
}


.navigation_bar  a {
    margin: auto 0 auto 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3vw;
    text-align: center;
}

.navigation_bar a:hover {
    color: #006363;
    font-weight: 500;
    border-right: 1px solid rgba(12,84,96,0.3);
    border-left: 1px solid rgba(12,84,96,0.3);
}

.main-block {
    height: 48vw;
    max-width: 100%;
    background: url("../img/main-min.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.main-block-border {
    position: absolute;
    width: 90%;
    margin: 5%;
    border: 3vw double rgba(255, 255, 255, 0.75);
}

.main-offer {
    padding: 2%;
    text-align: center;
    position: relative;
    color: #002024;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-offer-title {
    font-family: "Segoe UI", "SegoeUI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 2.7vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.main-offer-description {
    font-family: "Segoe UI Light", "SegoeUILight", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 2%;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    color: black;
    display: flex;
}

.main-offer-description .glyphicon {
    font-size: 2.5vw !important;
}

.main-offer-description p {
    padding: 0 0 0 1vw;
    margin: 0;
}

.text-selector {
    color: #02353e;
    font-weight: 700;
}
